<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all users</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .users {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .users tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .users td:last-child, td:first-child {
            width: 50px;
        }
    </style>
    <script>
        window.onload = async () => {
            const usersTableBody = document.getElementById("usersTableBody")

            const response = await fetch("/api/users");
            const users = await response.json();
            users.forEach(user => {
                const row = usersTableBody.insertRow()
                row.id = "userRow" + user.id

                row.insertCell(0).innerHTML = user.id;

                const cell2 = row.insertCell(1);
                const detailsLink = document.createElement('a');
                detailsLink.innerHTML = user.name + " " + user.surname;
                detailsLink.href = "/user?id=" + user.id;
                cell2.appendChild(detailsLink);

                const cell3 = row.insertCell(2);
                const editLink = document.createElement('a');
                editLink.innerHTML = "Edit";
                editLink.href = "/user/edit?id=" + user.id;
                cell3.appendChild(editLink);

                const cell4 = row.insertCell(3);
                const deleteButton = document.createElement('button');
                deleteButton.innerHTML = "Delete";
                deleteButton.id = "deleteButton" + user.id;
                deleteButton.onclick = deleteUser;
                cell4.appendChild(deleteButton);
            });
        }

        async function deleteUser(pointerEvent) {
            const userId = pointerEvent.currentTarget.id
                .replace("deleteButton", "")
            const response = await fetch("/api/users/" + userId, {
                method: "DELETE"
            });
            const result = await response;
            if (result.status === 200) {
                const row = document.getElementById("userRow" + userId);
                row.remove();
            }
        }

    </script>
</head>
<body>
<a href="#" th:href="@{/logout}">Log Out</a>
<h3>Users:</h3>

<table class="users">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="usersTableBody">

    </tbody>
</table>
<br/>
<a th:href="@{/user/create}" type="button">
    <button>Add user</button>
</a>
<a th:href="@{/club/create}" type="button">
    <button>Add club</button>
</a>
</body>
</html>