version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.optimized
    container_name: app
    ports:
      - "9090:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/pathfinders
      - SPRING_DATASOURCE_USERNAME=pathfinders
      - SPRING_DATASOURCE_PASSWORD=pathfinders
    networks:
      - my-network

networks:
  my-network:
    name: pathfinders-network
