<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Журнал</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .users {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .users tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .users td:last-child, td:first-child {
            width: 50px;
        }
    </style>
    <script src="../static/script.js" th:src="@{/script.js}"></script>
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script>
        var logId;
        var users;
        var scores;
        window.onload = async () => {
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

            $('#date-input').val(today);

            const urlParams = new URLSearchParams(window.location.search);
            logId = urlParams.get('id');

            scores = await fetchAllScores();

            const usersTableBody = document.getElementById("usersTableBody")

            users = await fetchUsersByLogId(logId);

            var tr = document.getElementById('table').tHead.children[0]
            var i = 0;

            users.forEach(user => {
                    if(i==0){
                        scores.forEach(score => {
                                var th = document.createElement('th');
                                th.innerHTML = score.name;
                                tr.appendChild(th);

                        });
                    i=i+1;
                    }
                const row = usersTableBody.insertRow()
                row.id = "userRow" + user.id

                row.insertCell(0).innerHTML = user.id;

                const cell2 = row.insertCell(1);
                const detailsLink = document.createElement('a');
                detailsLink.innerHTML = user.name + " " + user.surname;
                detailsLink.href = "/user?id=" + user.id;
                cell2.appendChild(detailsLink);

                let scoresQ="";
                let m = 2;
                scores.forEach(score => {
                        const cell3 = row.insertCell(m);
                        const scoresBox = document.createElement('div');
                        var newCheckBox = document.createElement('input');
                        newCheckBox.type = 'checkbox';
                        newCheckBox.id = user.id +'/'+ score.id;
                        newCheckBox.className = "checkBox"
                        newCheckBox.value = score.val;
                        scoresBox.appendChild(newCheckBox);
                        m=m+1
                        cell3.appendChild(scoresBox);

                });

            });
        }

        async function saveLogRecord() {
                var date = new Date($('#date-input').val());
                console.log(date);
                var log = {
                    classDate: date,
                    records: []
                };

                let userId;
                let scoreSum = 0;

                users.forEach(user => {

                    scores.forEach(score => {
                            let sid = user.id + '/' +score.id
                            let checkbox = document.getElementById(sid)
                            if(checkbox.checked){
                                scoreSum = scoreSum + parseInt(checkbox.value);
                            }
                    });

                    log.records.push({
                                     "userId" : user.id,
                                     "scoreSum"   : scoreSum
                                });
                                scoreSum = 0;

                });

            const response = await fetch("/api/logs/"+logId, {
                method: 'PUT',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(log)});
            const status = await response.status
            if (status === 200) {
                window.location.replace("/")
            }
        }

    </script>
</head>
<body>
<a href="#" th:href="@{/logout}">Log Out</a>

<h3>Users:</h3>

Дата: <input type="date" id="date-input">

<table class="users" id="table">
    <thead>
    <tr>
        <th>id</th>
        <th>Имя</th>
    </tr>
    </thead>
    <tbody id="usersTableBody">

    </tbody>
</table>

<br/>
<div class="row">
    <button type="button" onclick="saveLogRecord()">Сохранить</button>
    <a th:href="@{/}">
        <button type="button">Cancel</button>
    </a>
</div>
</body>
</html>