<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <div th:replace="fragments::head"></div>
    <script>
        var logId;
        var club;
        var gr;
        var usersL = [];
        var records = [];

        window.onload = async () => {
            gr = [];
            gr.push(["Element", "Баллы", {role: "style"}])

            console.log($('#pid').html())
            club = await fetchClubByUserId($('#pid').html());
            console.log("test" + club.id)
            const clubInfo = document.getElementById("clubInfo")
            const clubP = document.createElement('p');
            if (club.id != null) {
                clubP.innerHTML = club.name + " " + club.city;
            }
            clubInfo.appendChild(clubP);

            if (club.id == null) {
                $('#addPathfinder').css("visibility", "hidden");
                $('#addRecords').css("visibility", "hidden");
            } else {
                $('#addPathfinder').css("visibility", "visible");
            }

            if (club.id != null) {
                $('#addClub').css("visibility", "hidden");
            } else {
                $('#addClub').css("visibility", "visible");
            }

            if (club.id != null) {
                const log = await fetchLogByClubId(club.id);
                if (log != null) {
                    logId = log.id;
                    records = await fetchRecordsByLogId(log.id);
                    var stat = await fetchRecordsWithStatByLogId(log.id);
                    usersL = await fetchUsersByLogId(log.id);
                    const usersTableBody = document.getElementById("usersTableBody")
                    document.getElementById("dFdT").innerHTML = 'c ' + formattedDate(log.dateFrom) + ' по ' + formattedDate(log.dateTo);
                }
            }
            if (usersL != null && usersL.length > 0) {
                $('#addRecords').css("visibility", "visible");
                $('#log').css("visibility", "visible");
                $('#pdf').css("visibility", "visible");
            } else {
                $('#addRecords').css("visibility", "hidden");
                $('#log').css("visibility", "hidden");
                $('#pdf').css("visibility", "hidden");
            }

            var tr = document.getElementById('table').tHead.children[0]

            var i = 0;
            var dates = [];
            usersL.forEach(user => {
                if (i == 0) {
                    records.forEach(rec => {
                        if (rec.userId == user.id) {
                            var th = document.createElement('th');
                            th.innerHTML = formattedDate(rec.classDate);
                            tr.appendChild(th);
                            dates.push(rec.classDate);
                        }
                    });
                    i = i + 1;
                }

                const row = usersTableBody.insertRow()
                row.id = "userRow" + user.id

                row.insertCell(0).innerHTML = user.id;

                const cell2 = row.insertCell(1);
                const detailsLink = document.createElement('a');
                detailsLink.innerHTML = user.name + " " + user.surname;
                <!--                detailsLink.href = "/user?id=" + user.id;-->
                cell2.appendChild(detailsLink);

                let scoresQ = 0;
                let m = 2;
                let userRecords = [];
                records.forEach(rec => {
                    if (rec.userId == user.id) {
                        userRecords.push(rec);
                    }
                });

                dates.forEach(dat => {
                    let record;
                    userRecords.every(rec => {
                        if (dat == rec.classDate) {
                            record = rec;
                            return false;
                        }
                        return true;
                    });

                    if (record != null && dates.includes(record.classDate)) {
                        if (record.scoreSum != null) {
                            scoresQ = scoresQ + record.scoreSum;
                            row.insertCell(m).innerHTML = record.scoreSum;
                            m = m + 1;
                        }
                    } else {
                        scoresQ = scoresQ + 0;
                        row.insertCell(m).innerHTML = 0;
                        m = m + 1;
                    }

                });

                userRecords = [];

                gr.push([user.name + " " + user.surname, parseInt(scoresQ), "#b87333"])

            });

            showStat(stat);
            showGraph();

        }

        async function deleteUser(pointerEvent) {
            const userId = pointerEvent.currentTarget.id
                .replace("deleteButton", "")
            const response = await fetch("/api/users/" + userId, {
                method: "DELETE"
            });
            const result = await response;
            if (result.status === 200) {
                const row = document.getElementById("userRow" + userId);
                row.remove();
            }
        }

        function redirectToLogRecordCreate() {
            window.location.href = "/logRecord/create?id=" + logId;
        }

        window.jsPDF = window.jspdf.jsPDF;

        function makePDF() {
            html2canvas(document.querySelector('#chart_div')).then(function (canvas) {
                var imgData = canvas.toDataURL('image/png');
                var doc = new jsPDF('p', 'mm');
                doc.text(20, 20, club.name + " " + club.city);
                doc.addImage(imgData, 'PNG', 10, 10);
                doc.save(club.name + '.pdf');
            });
        }

        function formattedDate(date){
            return new Date(Date.parse(date)).toLocaleDateString();
        }

    </script>

</head>
<body>
<div th:replace="~{fragments :: top_panel}"></div>

<div style="display: none;"><p id="ppid">Roles: <span sec:authentication="principal.id" id="pid"> </span></p></div>
<div class="box">
    <div>
        <h4>Клуб:</h4>
    </div>
    <div>
        <div id="clubInfo">
        </div>
    </div>
    <div>
        <a th:href="@{/club/create}" type="button" id="addClub">
            <button class="btn btn-secondary">Создать клуб</button>
        </a>
    </div>
    <div>
        <a th:href="@{/user/create}" type="button" id="addPathfinder">
            <button class="btn btn-secondary">Добавить следопыта</button>
        </a>
    </div>
    <div>
        <a type="button" onclick="redirectToLogRecordCreate();" id="addRecords">
            <button class="btn btn-secondary">Провести занятие</button>
        </a>
    </div>

    <div>
        <button class="btn btn-secondary" onclick="makePDF();" id="pdf">Статистика в PDF</button>
    </div>

</div>

<div class="container" style="max-width: none;" id="log">
    <div class="row">
        <div class="col">
            <h4>Журнал:</h4>
            <p id="dFdT"></p>
            <table class="table table-sm" id="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Имя</th>
                </tr>
                </thead>
                <tbody id="usersTableBody">

                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <div id="chart_div"></div>
        </div>
        <div class="col" id="pie">
            <h6>Выполнение требований</h6>
        </div>
    </div>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>