<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8"/>
    <title>Журнал</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .users {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .users tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .users td:last-child, td:first-child {
            width: 50px;
        }
    </style>
    <script src="../static/script.js" th:src="@{/script.js}"></script>
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script>
        var logId;
        var club;
        window.onload = async () => {


            console.log($('#pid').html())
            club = await fetchClubByUserId($('#pid').html());
            console.log("test" + club.id)
             const clubInfo = document.getElementById("clubInfo")
             const clubP = document.createElement('p');
             if(club.id!=null){
                clubP.innerHTML = club.name + " " + club.city;
             }
             clubInfo.appendChild(clubP);

             if(club.id==null){
                $('#addPathfinder').css("visibility", "hidden");
                $('#addRecords').css("visibility", "hidden");
             } else{
                $('#addPathfinder').css("visibility", "visible");
             }

             if(club.id!=null){
                $('#addClub').css("visibility", "hidden");
             } else{
                $('#addClub').css("visibility", "visible");
             }


            const logs = await fetchLogsByClubId(club.id);
            logId = logs[0].id;
             const records = await fetchRecordsByLogId(logs[0].id);

             const usersL = await fetchUsersByLogId(logs[0].id);

            const usersTableBody = document.getElementById("usersTableBody")

             if(usersL != null && usersL.length>0){
                $('#addRecords').css("visibility", "visible");
             } else{
                 $('#addRecords').css("visibility", "hidden");
             }

var tr = document.getElementById('table').tHead.children[0]

var i = 0;

            usersL.forEach(user => {
                    if(i==0){
                        records.forEach(rec => {
                            if(rec.userId==user.id){
                                console.log("+++ " + rec.classDate);
                               var th = document.createElement('th');
                                th.innerHTML = rec.classDate;
                                tr.appendChild(th);
                            }
                        });
                    i=i+1;
                    }

                const row = usersTableBody.insertRow()
                row.id = "userRow" + user.id

                row.insertCell(0).innerHTML = user.id;

                const cell2 = row.insertCell(1);
                const detailsLink = document.createElement('a');
                detailsLink.innerHTML = user.name + " " + user.surname;
                detailsLink.href = "/user?id=" + user.id;
                cell2.appendChild(detailsLink);

                let scoresQ="";
                let m = 2;
                records.forEach(rec => {
                    if(rec.userId==user.id){
                        if (rec.scoreSum != null){
                        row.insertCell(m).innerHTML = rec.scoreSum;
                        m=m+1;
                        }
                    }
                });

            });
        }

        async function deleteUser(pointerEvent) {
            const userId = pointerEvent.currentTarget.id
                .replace("deleteButton", "")
            const response = await fetch("/api/users/" + userId, {
                method: "DELETE"
            });
            const result = await response;
            if (result.status === 200) {
                const row = document.getElementById("userRow" + userId);
                row.remove();
            }
        }

        function redirectToLogRecordCreate(){
            window.location.href = "/logRecord/create?id=" + logId;
        }
    </script>
</head>
<body>

<h2>Welcome</h2>
<!--<p>Spring Security Thymeleaf tutorial</p>-->
<!--<div sec:authorize="hasRole('USER')">Text visible to user.</div>-->
<!--<div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>-->
<!--<div sec:authorize="isAuthenticated()">-->
<!--    Text visible only to authenticated users.-->
<!--</div>-->
<!--Authenticated username:-->
<!--<div sec:authentication="name"></div>-->
<!--Authenticated user roles:-->
<!--<div sec:authentication="principal.authorities" ></div>-->

<!--<div sec:authorize="isAuthenticated()">-->
<!--    <p>Logged user: <span sec:authentication="name"> </span></p>-->
<!--    <p>Roles: <span sec:authentication="principal.username"> </span></p>-->
<div style="display: none;"><p id="ppid">Roles: <span sec:authentication="principal.id" id="pid"> </span></p></div>
<!--</div>-->


<a href="#" th:href="@{/logout}">Log Out</a>
<h3>Клуб:</h3>
<div id="clubInfo">
</div>
<a th:href="@{/club/create}" type="button" id="addClub">
    <button>Создать клуб</button>
</a> <br/>
<a th:href="@{/user/create}" type="button" id="addPathfinder">
    <button>Добавить следопыта</button>
</a>
<h3>Users:</h3>

<table class="users" id="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody id="usersTableBody">

    </tbody>
</table>
<br/>

<a type="button" onclick="redirectToLogRecordCreate();" id="addRecords">
    <button>Провести занятие</button>
</a>
</body>
</html>