html, body {
    margin: 0px;
    padding: 0px;
    background-color: lavenderblush !important;
}

.body {
    margin: 20px;
    padding: 20px;
}

h1 {
    color: blue;
}

.error {
    color: red;
}

.header {
    margin: 20px;
    padding: 20px;
}

a.header {
    padding: 5px;
}

th, td {
    padding: 5px;
    text-align: left;
}

.header {
    margin: 0px;
    padding: 10px;
    background-color: LightGrey;
}

.footer {
    width: 100%;
    margin: 0px;
    background-color: LightGrey;
    position: fixed;
    bottom: 0;
}

.test {
    background-color: blue;
}

.box div {
    display: inline-block;
}