<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments::head"></div>
    <script>
        window.onload = async () => {
            const directorSelect = document.getElementById("club-director-dropdown")
            const directors = await fetchAllDirectors();
            directors.forEach(director => {
                console.log(director.name);
                console.log(director.id);
                directorSelect.add(new Option(director.name, director.id))
            });
        }

        async function saveClub() {
            console.log(getSelectValues(document.getElementById("club-director-dropdown")));
            const nameInput = document.getElementById("club-name-input")
            const cityInput = document.getElementById("club-city-input")
            const directorDropdown = document.getElementById("club-director-dropdown")
            const club = {name: nameInput.value, city: cityInput.value, directorId: directorDropdown.value}
            const response = await fetch("/api/clubs", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(club)
            });
            const status = await response.status
            if (status === 200) {
                window.location.replace("/")
            }
        }

        function getSelectValues(select) {
            var result = [];
            var options = select && select.options;
            var opt;

            for (var i = 0, iLen = options.length; i < iLen; i++) {
                opt = options[i];

                if (opt.selected) {
                    result.push(opt.value || opt.text);
                }
            }
            return result;
        }
    </script>
</head>
<body>
<div th:replace="~{fragments :: top_panel}"></div>
<h3>Создание клуба:</h3>

<form id="create-form" action="create.html" class="col-lg-6 offset-lg-3" style="width: 200px">
    <div class="row justify-content-center">
        <label for="club-name-input">Название:</label>
        <input id="club-name-input" name="title" type="text"/>
    </div>
    <div class="row justify-content-center">
        <label for="club-city-input">Город:</label>
        <input id="club-city-input" name="title" type="text"/>
    </div>
    <div class="row justify-content-center">
        <label for="club-director-dropdown">Директор:</label>
        <select id="club-director-dropdown" name="directorId">
        </select>
    </div>
    <br/>
    <div class="btn-group" role="group">
        <button type="button" onclick="saveClub()" class="btn btn-secondary">Сохранить</button>
        <a th:href="@{/}">
            <button type="button" class="btn btn-secondary">Отмена</button>
        </a>
    </div>
</form>

</body>
</html>