<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>
    <script>
        window.onload = async () => {
            const booksTableBody = document.getElementById("booksTableBody")

            const response = await fetch("/api/books");
            const books = await response.json();
            books.forEach(book => {
                const row = booksTableBody.insertRow()
                row.id = "bookRow" + book.id

                row.insertCell(0).innerHTML = book.id;

                const cell2 = row.insertCell(1);
                const detailsLink = document.createElement('a');
                detailsLink.innerHTML = book.title;
                detailsLink.href = "/book?id=" + book.id;
                cell2.appendChild(detailsLink);

                const cell3 = row.insertCell(2);
                const editLink = document.createElement('a');
                editLink.innerHTML = "Edit";
                editLink.href = "/book/edit?id=" + book.id;
                cell3.appendChild(editLink);

                const cell4 = row.insertCell(3);
                const deleteButton = document.createElement('button');
                deleteButton.innerHTML = "Delete";
                deleteButton.id = "deleteButton" + book.id;
                deleteButton.onclick = deleteBook;
                cell4.appendChild(deleteButton);
            });
        }

        async function deleteBook(pointerEvent) {
            const bookId = pointerEvent.currentTarget.id
                .replace("deleteButton", "")
            const response = await fetch("/api/books/" + bookId, {
                method: "DELETE"
            });
            const result = await response;
            if (result.status === 200) {
                const row = document.getElementById("bookRow" + bookId);
                row.remove();
            }
        }

    </script>
</head>
<body>
<h3>Books:</h3>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="booksTableBody">

    </tbody>
</table>
<br/>
<a href="create.html" th:href="@{/book/create}" type="button"><button>Add book</button></a>
<a href="createUser.html" th:href="@{/user/create}" type="button"><button>Add user</button></a>
<a href="createClub.html" th:href="@{/club/create}" type="button"><button>Add club</button></a>
</body>
</html>